$primary-color : #0065af;
#banner {
    width: 100%;
    position: relative;
    img {
        width: 100%;
    }
    .title-banner {
        font-size: 26px;
        font-weight: bold;
        display: inline-block;
        padding: 0 25px;
        background: #000;
        line-height: 60px;
        opacity: .8;
        filter: alpha(opacity=80);
        position: absolute;
        bottom: -30px;
        left: 0px;
        color: white;
    }
}

.project-slides {
    
    .column-project-image {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1.4vw 0 1.4vw 0;
      width: 255px;
      height: 255px;
        img {
            width: 255px;
            height: 255px;
        }
    }
  
    .project-detail {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      text-align: center;
      color: #fff;
      font-weight: 600;
      transition: 0.5s;
      h2 {
        margin-top: 6rem;
        opacity: 1;
      }
    }
  
    .project-detail:hover {
      opacity: 0.8;
      background: $primary-color;
    }
  
    .project-image {
      max-width: 100%;
      height: 100%;
      display: block;
    }
  
  }
