$primary-color : #0065af;

//Header
.navbar-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 10px 25px 10px; 
    background-color: $primary-color;
  
    .item-col1-header {
      padding-right: 35px;
      border-right: 1px solid white;
  
      ul {
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
        color: white;
        line-height: 1.5em;
        font-weight: 500;
  
        li a {
          color: white;
        }
      }
    }
    
    .item-col2-header {
      padding-left: 35px;
  
      ul {
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
        color: white;
        line-height: 1.5em;
        font-weight: 500;
  
        li a {
          color: white;
        }
      }
    }
    
    .item-col1-col2-mobile-header {
      display: none;
    }
    
    .item-col3-header {
      flex-grow: 2; 
      padding: 0px 0px 50px 100px;
  
      img {
        padding: 5px;
        display: inline;
      }
    }
    
    .item-col4-header {
      padding: 10px;
    }
  }
  
  .navigation-wrapper{
    padding: 0 15% 0 15%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #000;
    color: white;
    transition:1s;
    .column {
      padding: 1em;
      text-align: center;
      :hover {
        cursor: crosshair;
        background-color: $primary-color;
      }
    }
  }

  

  @media only screen and (min-width: 1180px) {
    .navbar-header {
      padding: 25px 7% 25px 7%;
    }
  }

  @media only screen and (max-width: 760px) {
    .navbar-header {
      flex-direction: column;
      .item-col1-header {
        display: none;
      }
      .item-col2-header {
        display: none;
      }
      .item-col1-col2-mobile-header {
        display: block;
      }
      .item-col3-header {
        display: flex;
        justify-items: center;
        padding: 0;
        img {
          display: block;
        }
      }
    }
    .navigation-wrapper{ 
      display: none;
    }
  
  }
  